---
- name: Install assets
  sensu.sensu_go.bonsai_asset:
    auth:
      password: "{{ sensu_cli_password }}"
      url: "{{ sensu_cli_backend_url }}"
      user: "{{ sensu_cli_username }}"
    name: "{{ item.name }}"
    namespace: "{{ sensu_cli_namespace }}"
    rename: "{{ item.rename | d(omit) }}"
    version: "{{ item.version | d(omit) }}"
  loop: "{{ sensu_cli_assets }}"
